<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
    <h1>{{ title }}</h1>
    <form action="{{ path('read_csv') }}" method="POST">
        <input type="submit" value="Nouveau document">
    </form>
</html>
